<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<header>
   </br>
   <center><img src="{{url_for('static',filename='image/title.png/')}}" style="width:500px"></center>
   </br>
</header>
<body background="{{url_for('static',filename='image/bg.png/')}}" style="background-repeat:repeat-x; background-size:300px">
   <center>
   <ul>

   <form action = "http://0.0.0.0:5000/doc2vec" method = "post" accept-charset="utf-8">
   <p><br><br>사용자의 검색 키워드를 입력받아 연관 관계가 있는 키워드를 추천해주는 시스템입니다.<br><br><input type="text" size = 40  style="height:30px;" name= "get_text";/>
   <input type="submit" value="입력"/></p>
   </form>
   <img src='/static/image/GG.png' style="object-fit:cover; width:600px; height:550px; display: block;">
</br>

   <h4>Recommand Keyword</h4>
   </br>
  

    <p> Xports-news &nbsp &nbsp
  {%set result = result.split(' ')%}
  {% for i in result %}
  
    {% set url_link = 'http://www.xportsnews.com/?ac=article_search&skey=tc&sword=' %}
    {% set url_link = url_link + i %}
    {% set url_link = url_link + '&x=0&y=0' %}
    <a href={{url_link}} style="text-decoration:none">{{ i }}</a> &nbsp &nbsp
  {% endfor %} </p>

  {{ t }}


</ul>
   
</center>
</body>
</html>

 

